@import url("../App.css");

.notice {
  float: left;
  padding: 0% 1ch;
  background-color: var(--accent2_bkgd);
  border: 2px solid var(--primary1);
  border-radius: 5px;
  margin: 10px;
  width: 95%;
}

h3 {
  margin: 0.2em;
}