@import url("../App.css");

.toolbar {
  display: flex;
  width: 100%;
  font-family: "Montserrat Bold", sans-serif;
  padding: 0px 10px;
  align-items: center;
  background-color: var(--accent2_bkgd);
  color: var(--primary1);
}

.tab {
  list-style-type: none;
  align-items: left;
  margin: 5px;
  padding-left: 20px;
}

.button {
  display: inline;
  float: left;
  font-family: "Montserrat Bold", sans-serif;
  font-weight: 700;
  cursor: "pointer";
  background-color: var(--accent2);
  border: 2px solid var(--primary1);
  color: var(--primary1);
  border-radius: 5px;
  margin-right: 10px;
}

.link {
  text-decoration: none;
  font-family: "Montserrat Bold", sans-serif;
  font-size: 1.5em;
  font-weight: 700;
  display: inline;
  float: left;
  display: inline;
  float: left;
  padding: 10px 20px;
  /*background-color: var(--accent2);
  border: 2px solid var(--primary1);
  border-radius: 5px;*/
  transition-duration: 0.25s;
  color: var(--primary1);
}
.link:visited {
  text-decoration: none;
  color: var(--primary1);
}
.link:hover {
  background-color: var(--primary1);
  color: var(--accent2);
}
.link:active {
  text-decoration: none;
  color: var(--primary1);
}
  
.logo {
  font-size: 1.5rem;
}
