:root {
  /* Project Colors, made into vars*/
  --primary1: #073242;
  --primary1_bkgd: #07324288;

  --primary2: #248188;
  --primary2_bkgd: #24818888;

  --accent1: #CC8A1C;
  --accent1_bkgd: #CC8A1C88;

  --accent2: #99C1C0;
  --accent2_bkgd: #99C1C088;
}

@font-face {
  font-family: "Montserrat";
  src: url('./assets/fonts/Montserrat-Medium.ttf');
}

@font-face {
  font-family: "Montserrat Bold";
  src: url('./assets/fonts/Montserrat-Bold.ttf');
}

@font-face {
  font-family: "Montserrat Thin";
  src: url('./assets/fonts/Montserrat-Thin.ttf');
}

h1,h2,h3,h4,h5,h6 {
  font-family: "Montserrat Bold", sans-serif;
  color: var(--primary1);
  margin: 1ch;
}
h1 {font-size: 2em;}
h2 {font-size: 1.8em;}
h3 {font-size: 1.6em;}
h4 {font-size: 1.4em;}
h5 {font-size: 1.2em;}
h6 {font-size: 1em;}

p {
  font-family: "Montserrat", sans-serif;
}

.page {
  width: 80%;
  margin: 0 auto;
}
